body {
    /* font-family: 'Gaegu', cursive; */
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    /* background-image: url('https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&h=350'); */
}

.radial-center {
    /* fallback */
    background-color: #2F2727;
    background-image: url(images/radial_bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    /* Safari 4-5, Chrome 1-9 */
    /* Can't specify a percentage size? Laaaaaame. */
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727));
    /* Safari 5.1+, Chrome 10+ */
    background: -webkit-radial-gradient(circle, #1a82f7, #2F2727);
    /* Firefox 3.6+ */
    background: -moz-radial-gradient(circle, #1a82f7, #2F2727);
    /* IE 10 */
    background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
    /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}

.background-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
}

.background-wrapper svg {
    width: 100%;
    position: fixed;
    bottom: -36px;
    height: 220%;
}

.awesome-text {
    font-size: 25px;
    position: absolute;
    color: #fff;
}

.awesome-text-big {
    font-size: 60px;
}

.peer-intro {
    width: 25%;
    left: 4%;
    top: 1%;
}

.peer-other-intro {
    width: 17%;
    right: 18%;
    bottom: 16%;
    font-size: 18px;
}

.ml12 {
    font-weight: 200;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.ml12 .letter {
    display: inline-block;
    line-height: 1em;
}

.button {
    /* border: 5px solid #68caa1; */
    text-decoration: none;
    /* padding-left: 57px; */
    color: #68caa1;
    padding-right: 54px;
    margin-top: 10px;
    font-weight: bold;
}